[submodule "arbitration-dlib"]
	path = arbitration-dlib
	url = https://github.com/zippiehq/arbitration-dlib.git
[submodule "logger-dlib"]
	path = logger-dlib
	url = https://github.com/cartesi//logger-dlib.git
