descartes/target
node_modules/
build/*
artifacts/*
cache/*
src/types/*
coverage/*
test/*/
.venv
.vscode
.node*
*.bin
*.ext2
*.abi
/out
target/
dapp_data_0/
dapp_data_1/
.coverage_contracts/*

coverage.json
yarn-error.log
deployments/*