cartesi_compute/target
node_modules
build
/artifacts
cache
**/solcInputs
src/types
dist
coverage/*
.venv
.vscode
.node*
*.bin
*.ext2
*.abi
/out
target/
dapp_data_0/
dapp_data_1/
.coverage_contracts/*
coverage.json
yarn-error.log
deployments/localhost
ipfs_interface/target
ipfs_interface/src/*.rs
!ipfs_interface/src/lib.rs
scripts/coverage/*
machines/*
!machines/.gitkeep