{% macro mnemonic() -%}
${MNEMONIC}
{%- endmacro -%}

{% macro host() -%}
goerli.arbitrum.io
{%- endmacro -%}

{% macro port() -%}
443
{%- endmacro -%}

{% macro provider() -%}
https://goerli-rollup.arbitrum.io/rpc
{%- endmacro -%}

{% macro semaphore() -%}
https://goerli-rollup.arbitrum.io/rpc
{%- endmacro -%}