{% macro mnemonic() -%}
${MNEMONIC}
{%- endmacro -%}

{% macro host() -%}
rinkeby.arbitrum.io
{%- endmacro -%}

{% macro port() -%}
443
{%- endmacro -%}

{% macro provider() -%}
https://rinkeby.arbitrum.io/rpc
{%- endmacro -%}

{% macro semaphore() -%}
https://rinkeby.arbitrum.io/rpc
{%- endmacro -%}