{% macro mnemonic() -%}
${MNEMONIC}
{%- endmacro -%}

{% macro host() -%}
api.avax-test.network
{%- endmacro -%}

{% macro port() -%}
443
{%- endmacro -%}

{% macro provider() -%}
https://api.avax-test.network/ext/bc/C/rpc
{%- endmacro -%}

{% macro semaphore() -%}
https://api.avax-test.network/ext/bc/C/rpc
{%- endmacro -%}
