{% macro mnemonic() -%}
${MNEMONIC}
{%- endmacro -%}

{% macro host() -%}
data-seed-prebsc-1-s1.binance.org
{%- endmacro -%}

{% macro port() -%}
8545
{%- endmacro -%}

{% macro provider() -%}
https://data-seed-prebsc-1-s1.binance.org:8545
{%- endmacro -%}

{% macro semaphore() -%}
https://data-seed-prebsc-1-s1.binance.org:8545
{%- endmacro -%}
