{% macro mnemonic() -%}
donor rather all fix tongue poverty camera oxygen have length thumb beach
{%- endmacro -%}

{% macro host() -%}
hardhatnet
{%- endmacro -%}

{% macro port() -%}
8545
{%- endmacro -%}

{% macro provider() -%}
http://hardhatnet:8545
{%- endmacro -%}

{% macro semaphore() -%}
http://hardhatnet:8545
{%- endmacro -%}
