{% macro mnemonic() -%}
${MNEMONIC}
{%- endmacro -%}

{% macro host() -%}
matic-mumbai.chainstacklabs.com
{%- endmacro -%}

{% macro port() -%}
443
{%- endmacro -%}

{% macro provider() -%}
https://matic-mumbai.chainstacklabs.com
{%- endmacro -%}

{% macro semaphore() -%}
https://matic-mumbai.chainstacklabs.com
{%- endmacro -%}
