{% macro mnemonic() -%}
${MNEMONIC}
{%- endmacro -%}

{% macro host() -%}
rpc-mumbai.maticvigil.com
{%- endmacro -%}

{% macro port() -%}
443
{%- endmacro -%}

{% macro provider() -%}
https://rpc-mumbai.maticvigil.com/v1/${MATIC_PROJECT_ID}
{%- endmacro -%}

{% macro semaphore() -%}
https://maticvigil.com
{%- endmacro -%}
